.Chessboard {
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Row {
  display: flex;
  flex-direction: row;
  flex: none;
  height: 12.5%;
  width: 100%;
  max-width: calc(100vh - 126px); /* subtract total height used up by other elements */
  max-height: 12.5vw;
}

.Square {
  flex: none;
  width: 12.5%;
  height: 100%;
}

.White.Square {
  background-color: rgb(238, 238, 210);
}
.Black.Square {
  /* background-color: #ddd; */
  background-color: rgb(118, 150, 86);
}

