.Controls {
  display: flex;
  flex:none;
  justify-content: center;
}

.Button {
  font-size: 22px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: none;
}

.Button:active {
  outline: none;
  background-color: #eee;
}
.Button:focus {
  outline: none;
}
