.Piece {
  height: 100%;
}

.White.King {
  background: url(../assets/images/white-king.png);
  background-size: contain;
}

.White.Queen {
  background: url(../assets/images/white-queen.png);
  background-size: contain;
}

.White.Bishop {
  background: url(../assets/images/white-bishop.png);
  background-size: contain;
}

.White.Knight {
  background: url(../assets/images/white-knight.png);
  background-size: contain;
}

.White.Rook {
  background: url(../assets/images/white-rook.png);
  background-size: contain;
}

.White.Pawn {
  background: url(../assets/images/white-pawn.png);
  background-size: contain;
}

.Black.King {
  background: url(../assets/images/black-king.png);
  background-size: contain;
}

.Black.Queen {
  background: url(../assets/images/black-queen.png);
  background-size: contain;
}

.Black.Bishop {
  background: url(../assets/images/black-bishop.png);
  background-size: contain;
}

.Black.Knight {
  background: url(../assets/images/black-knight.png);
  background-size: contain;
}

.Black.Rook {
  background: url(../assets/images/black-rook.png);
  background-size: contain;
}

.Black.Pawn {
  background: url(../assets/images/black-pawn.png);
  background-size: contain;
}
